{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<style>
		.tago{
			display:none;
		}  
		.fieldgroup{
			float: left;
			width: auto;
			margin-left: 3em;
		 }
		.tunga{
			margin: auto;
			width: 50%;
			padding: 10px;
		}
	</style>
		

	<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="firstname" placeholder="First Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="lastname" placeholder="Last Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="contactnumber" placeholder="Contact Number..">
						</div>
					</div>
					<div>
						<br>
						<hr>
						<p>Delivery options:</p>
						<div class="tunga">
							<div class="fieldgroup">
								<input type="radio" name="choose" value="hide" onclick="showHideDiv(1)" checked="checked"> Store Pickup
							</div>
							<div class="fieldgroup">
								<input type="radio" name="choose" value="show" onclick="showHideDiv(2)"> Ship to Address
							</div>
						</div>

					</div>	
					<br>
					<br>

					<div id="shipping-info" class='tago'>
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="street" placeholder="Street..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="suburb" placeholder="Suburb..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="postcode" placeholder="Postcode..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<p>Please select your payment options</p>
				<input type="radio" id="mastercard" name="fav_language" value="HTML">
				<label for="visa"><small>VISA</small></label><br>
				<input type="radio" id="mastercard" name="fav_language" value="CSS">
				<label for="mastercard"><small>Mastercard</small></label><br>
				<input type="radio" id="banktransfer" name="fav_language" value="JavaScript">
				<label for="banktransfer"><small>Bank Transfer</small></label>
				<br>
				<button id="make-payment">Make payment</button>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				Sub Total:   ${{order.get_cart_total|floatformat:2}}
				<br>
				dob: {{ request.user.customer.dob }}
				<br>

				{% comment %} age: {{ calculateAge(request.user.customer.dob) }} {% endcomment %}
				location: {{ request.user.customer.city }}

				<br>
				<br>
				<span id="age"></span>
				<br>

				<span id="location"></span>
				<br>
				<span id="dayOfWeek"></span>

				{% comment %} Discount: <span id="discount"></span {% endcomment %}
				<br>

				<div id="shipping" class='tago'>
					Shipping: $ 10.00
				</div>
				<br>

				<div id="shipping" class='tago'>
				</div>
				<br>
				<br>

				<h5 id="total"></h5>

			</div>
		</div>
	</div>

	<script type="text/javascript">
		var shipping = '{{order.shipping}}'
		document.querySelector('#total').textContent = 'Total: ${{order.get_cart_total|floatformat:2}}'
		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    }) 

	    document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })
		{% comment %} const dob = {{ request.user.customer.dob|date:"Y-m-d" }};
		document.getElementById("age").innerHTML = calculateAge(dob); {% endcomment %}
		const dobString = "{{ request.user.customer.dob|date:'F j, Y' }}";
		const dobArray = dobString.split(" ");
		const month = new Date(dobArray[0] + " 1, 2000").getMonth() + 1;
		const day = dobArray[1].replace(",", "");
		const year = dobArray[2];
		const dob = year + "-" + month + "-" + day;
	    const loc = "{{ request.user.customer.city }}";
		document.getElementById("age").innerHTML = calculateDiscountbyAge(dob);
		document.getElementById("location").innerHTML = calculateDiscountbyLocation(loc);
		const today = new Date();
		const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
		const dayOfWeek = daysOfWeek[today.getUTCDay()];
		document.getElementById("dayOfWeek").innerHTML = dayOfWeek;


		function calculateDiscountbyAge(dob) {
			let discount = 0;
			const today = new Date();
			const birthDate = new Date(dob);
			let age = today.getFullYear() - birthDate.getFullYear();
			const m = today.getMonth() - birthDate.getMonth();
			if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
			  age--;
			}
			age = 61;
			if (age > 60 ) {
				discount += 0.1;
				return 'Senior discount: ';
			} else {
				return '';
			}
		  }

		function calculateDiscountbyLocation(location){
			if (location == "Auckland" || location == "Wellington") {
				discount += 0.01;
				return 'discount on location';
			} else {
				return '';
			}
		}

		function calculateDiscountbyDoW(dow){
			document.getElementById("dayOfWeek").innerHTML = dayOfWeek;
			if (dayOfWeek === "Saturday" || dayOfWeek === "Sunday") {
				discount += 0.02;
				return 'discount on day'
			} else {
				return '';
			}
		}
		function showHideDiv(val) {
			var total = '{{order.get_cart_total}}';
			total = parseFloat(total.replace(/[^0-9.]/g, ''));
			
			if (val == 1) {
			  document.getElementById('shipping-info').style.display = 'none';
			  document.getElementById('shipping').style.display = 'none';
			  document.querySelector('#total').textContent = 'Total: $' + total.toFixed(2);
			} else {
			  document.getElementById('shipping-info').style.display = 'block';
			  document.getElementById('shipping').style.display = 'block';
			  var ship = 10;
			  total += ship;
			  document.querySelector('#total').textContent = 'Total: $' + total.toFixed(2);
			}
		  }
		

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'firstname':null,
				'lastname':null,
				'contactnumber':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'street':null,
				'city':null,
				'suburb':null,
				'postcode':null,
				'country':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.street = form.street.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.suburb = form.suburb.value
		    	shippingInfo.postcode = form.postcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				  console.log('Success:', data);
				  alert('Transaction completed');  
				  window.location.href = "{% url 'store' %}"

				})
	    }
	</script>

{% endblock content %}


 
