{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <body>
        <div class="container">
			<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
        	<div class="row">
               <div class="col-xs-4 item-photo">
                    <img style="max-width:100%;" src="{{product.imageURL}}" />

                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <h3>{{product.name}}</h3>    
                    <h5 style="color:#337ab7"><a href="#">In - stock</a></h5>
                    <h3 style="margin-top:0px;">${{product.price|floatformat:2}}</h3>
                    <div class="section" style="padding-bottom:20px;">
                        {% if user.is_authenticated %}
                            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-success add-btn update-cart">Login to add to cart</a>
                        {% endif %}
                        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Like</a></h6>
                    </div>                                        
                </div>                              
        
                <div class="col-xs-9">
                    <br><br><br>
                    <h6><strong>Description:</strong></h6>
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
                            <small>
                                {{product.description}}
                            </small>
                        </p>
                    </div>
                </div>		
            </div>
        </div>        
    </body>
</html>


{% endblock content %}
